{% assign collections = site.collections | sort: 'label' %}
{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}

{% for letter in alphabet %}
  {% assign collections_for_letter = collections | where: "label", "begins_with: #{letter}" %}
  
  {% if collections_for_letter.size > 0 %}
    <h2>{{ letter }}</h2>
    <ul>
      {% for collection in collections_for_letter %}
        <li><a href="{{ collection.url }}">{{ collection.label }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}