<div class="designed-outer">
  <div class="page-width">
    <div class="designer-inner">
     {% if section.settings.name != blank %}  
      <h2>{{ section.settings.name }}</h2>
     {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Github clone",
    "class":"skeleton",
    "settings": [
      {
        "type":"richtext",
        "id":"name",
        "label":"Add Title"
      }
    ],
    "presets":[
      {
        "name":"Github clone"
      }
    ]
  }
{% endschema %}